@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');



body {
  font-family: 'Spartan';
  font-size: 15px;
  background-image: url('images/bg-pattern-bottom-desktop.svg');
}

section {
  margin-bottom: 50px;
}

.section-rating {
  flex: 60%;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.section-header {
  flex: 40%;
  align-items: center;
  justify-content: center;
}

.row {  
  display: flex;
}


.container {
  margin: auto;
  background-image: url('images/bg-pattern-top-desktop.svg');
  padding: 50px;
  max-width: 1200px;
  background-color: white;
  box-shadow: 5px 5px 20px rgb(199, 199, 199);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 { 
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 3em;
}

h3 {
  color: hsl(303, 10%, 53%);
  font-weight: 700;
  font-size: 1em;
  line-height: 1.8;
}

.rating-card {
  background-color: hsl(300, 24%, 96%);
  width: 450px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.8;
  color: hsl(300, 43%, 22%);
  text-align: center;
  display:flex;
  padding: 10px;
  align-items: center;
}

.rating-card-right {
  align-self: flex-end;
}

.rating-stars-col {
  flex: 40%;
}

.rating-text-col {
  text-align: left;
  flex: 60%;
}

.rating-star {
  margin: 5px;
}

.testimonial-card {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 35px;
  margin-top: 15px;
  height: fit-content;
}

.testimonial-card-row {
  height: 300px;
}

.testimonial-card-left {
  align-self: flex-start;
}

.testimonial-card-right {
  align-self: flex-end;
}

.testimonial-card-middle {
  margin-left: 20px;
  margin-right: 20px;
  align-self: center;
}

.testimonial-header {
  color: hsl(300, 24%, 96%);
  font-weight: 700;
  line-height: 1.8;
}

.testimonial-subheader {
  color: hsl(333, 80%, 67%);
  font-size: 0.9em;
}

.testimonial-text {
  color: hsl(0, 0%, 100%);
  line-height: 1.8;
  font-size: 0.9em;
  margin-top: 20px;
}

.testimonial-pic {
  border-radius: 50%;
  float: left;
  width: 40px;
  margin-right: 20px;
}


.Aligner {
  display: flex;
  min-width: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}


@media screen and (max-width: 750px) {
  .container {
    padding: 0px;
    margin: unset;
    box-shadow: unset;
    margin-left: 10px;
    margin-right: 10px;
  }
  .row {
    flex-direction: column;
  }
  .section-header {
    text-align: center;
  }
  .section-rating {
    flex: unset;
    margin-left: unset;
  }
  .rating-card {
    flex-direction: column;
    width: unset;
  }
  .testimonial-card-middle {
    margin-left: unset;
    margin-right: unset;
  }
  .Aligner {
    display: unset;
    min-width: unset;
    align-items: unset;
    justify-content: unset;
    flex-direction: unset;
  }
  
  .Aligner-item--top {
    align-self: unset;
  }
  
  .Aligner-item--bottom {
    align-self: unset;
  }
}

